<h1>Editing livre</h1>

<%= render "form", livre: @livre %>

<br>

<div>
  <%= link_to "Show this livre", @livre , class:"btn btn-outline-success"%> 
  <%= link_to "Back to livres", livres_path, class:"btn btn-outline-info" %>
  <br/><br/>
</div>
