<%= render @livre %>

<div>
  <%= link_to "Edit this livre", edit_livre_path(@livre), class:"btn btn-outline-success" %> 
  <%= link_to "Back to livres", livres_path, class:"btn btn-outline-info" %>
<br/><br/>
  <%= button_to "Destroy this livre", @livre, method: :delete, class:"btn btn-outline-danger" %>
  <br/><br/>
</div>
