
<h1>Bienvenue dans l'univers de la Bibliothèque</h1>
<div>
<p>C'est vous cherchez un endroit d' Art composer des livres et matériels, alors
vous êtes à la bonne place!</p>
<%= image_tag('section111.jpeg') %><br/><br/>
</div>