<div id="<%= dom_id adherent %>">

  <div class="jumbotron">
  <h2 class="display-4">
    <%= adherent.id %>
  </h2>
  <p class="lead"> 
    Nom:<%= adherent.nom %><br></br>
    Prenom: <%= adherent.prenom %></p>
  
 
</div>

